<div class="grid-container">
  <h1 class="mat-h1">Feedback Charts</h1>
  <mat-grid-list cols="2" rowHeight="280px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Line</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Line Chart</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Bar</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-feedback-bar></app-feedback-bar>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Pie</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <app-feedback-pie></app-feedback-pie>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
